.Search {
  .SearchIcon {
    padding: 2em 0.7em;
    position: absolute;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .TextField {
    margin: 1em auto !important;

    label {
      margin: auto 1.5em;
    }
    
    input {
      padding-left: 2.5em !important;
    }
    
    fieldset {
      padding: 0 30px !important;
    }
  }
}

.ImageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    margin: 0.5em;
    width: 18em;
    height: 12em;
  }
}

