@media (max-width: 575px) {
  .ImageListItem {
    width: 100% !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .ImageListItem {
    width: 50% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ImageListItem {
    width: 33.33% !important;
  }
}

.ImageListItem {
  cursor: pointer;
}

.CloseIcon {
  position: absolute;
  background: white;
  border-radius: 0.2em;
  padding: 0.2em;
  right: 0;
  cursor: pointer;
}

.InfoIcon {
  position: absolute;
  color: white;
  font-size: 2em !important;
  padding: 0.25em;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
}

.InfoContainer {
  position: absolute;
  bottom: 0;
  background: black;
  width: 100%;
  color: white;
  opacity: 0.8;

  p {
    padding-left: 3em;
  }
}
